/node_modules
/DS_Store

# Scala
target/
project/target/
project/project/
*.class
*.log
.cache
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.classpath
.project
.settings
.idea
*.iml